^{:css-dirs ["resources/public/css"]
  :ring-handler repl-playground.app-server/app}
{:main repl-playground.core
 :npm-deps false
 :infer-externs true
 :pseudo-names true
 :pretty-print true
 :foreign-libs [{:file "dist/index.bundle.js"
                 :provides ["pixi" "code-mirror"]
                 :global-exports {code-mirror CodeMirror}}]}
